mobile/y/system-images/android-30/google_apis/arm64-v8a/system.img filter=lfs diff=lfs merge=lfs -text
mobile/y/emulator/lib64/qt/lib/libQt6WebEngineCoreAndroidEmu.6.5.3.dylib filter=lfs diff=lfs merge=lfs -text
mobile/y/emulator/qemu/darwin-aarch64/qemu-system-armel-headless filter=lfs diff=lfs merge=lfs -text
mobile/y/emulator/qemu/darwin-aarch64/qemu-system-armel filter=lfs diff=lfs merge=lfs -text
mobile/y/system-images/android-30/google_apis/arm64-v8a/vendor.img filter=lfs diff=lfs merge=lfs -text
mobile/y/emulator/qemu/darwin-aarch64/qemu-system-aarch64-headless filter=lfs diff=lfs merge=lfs -text
*.img filter=lfs diff=lfs merge=lfs -text
*.iso filter=lfs diff=lfs merge=lfs -text
*.apk filter=lfs diff=lfs merge=lfs -text
